# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#Xilinx ISE files
UROP

#bak files
*.bak

#examples directory
examples/

#swp files
*.swp
