# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#Xilinx ISE files
UROP

#Xilinx EDK files
blockkdiagram
__xps
*.log
*.svf
*.scr
*.cmd
*.bak
*.elf
*.ace
*.bsb
*.make
XpsGuiSessionLock
*.opt
*.ut
*.filters
*.gui
#bak files
*.bak

#examples directory
examples/

#swp files
*.swp

#XPS files
base_systems/ml505/__xps/
